/* Primary styling */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  text-decoration: none;
  list-style: none;
  color: rgb(228, 220, 225);
}

html {
  font-size: 62.5%; /* easier to understand what font sizes are displayed when using rem */
}

header {
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.8);
  position: sticky;
  z-index: 10;
  background-color: rgb(228, 220, 225);
  /*background-image: url("images/animal_toy_cute_doll_teddy_2742.ico");*/
  background-repeat: repeat-x;
  top: 0px;
}

h1 {
  font-family: "Sansita Swashed", sans-serif;
  color: rgb(95, 62, 82);
}

h2 {
  font-size: 3rem;
  font-family: "Sansita Swashed", sans-serif;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

/* Navigation menu */
nav {
  min-height: 3rem;
  width: 85%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  font-size: 1.6rem;
  flex: 2;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  font-size: 1.4rem;
  flex: 1;
}

nav ul li a {
  padding: 0px 2vw;
  color: rgb(24, 10, 36);
  font-weight: bold;
}

a:hover {
  color: rgb(240, 126, 136);
  box-shadow: 0px 5px 20px rgba(240, 126, 136, 0.3);
}

/* Main content */
section {
  min-height: 75vh;
  position: relative;
  display: flex;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.home {
  background-image: url("images/pigeon.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#introduction {
  display: grid;
  width: 100%;
  grid-template-columns: 10% repeat(3, minmax(5rem, 1fr)) 10%; /* allows grid to retain size with smaller windows */
  grid-template-rows: 1fr 2fr 1fr;
}

#name {
  font-size: 3rem;
  font-family: "Sansita Swashed", sans-serif;
  color: rgb(240, 126, 136);
  grid-column: 2/3;
  text-align: right;
  align-self: flex-end;
}

.bear-icon {
  grid-row: 2/3;
  grid-column: 3/4;
  align-self: center;
  justify-self: center;
  height: 100%;
  object-fit: cover;
}

.summary {
  grid-row: 3/4;
  grid-column: 4/5;
}

.summary h3 {
  padding-bottom: 1rem;
}

.about {
  background: radial-gradient(#35353a, #1c1d22);
}

.projects {
  background-color: rgb(27, 15, 25);
}

.contact {
  background-color: rgb(51, 38, 35);
}
